 html{    
    font-family:system-ui ;
    }
*{
    box-sizing:border-box;
}
a.link{
    color:blueviolet;
}
a:visited{
    color:red;
}

a.hover{

    color:#40ff00;
}
a.active{
    color:blue;
}
div p{
    color :#ff0000;
}

div h2, div h3 {
    color:blueviolet;
}
   .p {
    color:#40ff00;

  }  

.wrap{

    max-with:1200px;
    margin: 0 auto;
}


.color{
    border:5px blue;

}


.color{
    color:#ff0000;
}
 
.servicio-ind{
    width :50%;

}
 
display:active 
              
.galeria-port{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen- port {
heigt: 200px;
   
    margin-bottom: 10px;} 

  . textpos-header { 
   color:#40ff00;
  }
  
   @media screen and (max-width)  { 

   }

    header{
        background-color:beige;

    }
    @media (max-with:680){
        body:repeat(1,1fr);

    }